html {
    background: rgb(0, 0, 0);
    height: 100%;
    overflow: hidden;
}

body {
   
    height: 100vh;
    margin: 0;
    background-color: #000;
}

canvas {
    height: 100vh;
    width: 100%;
    scale: 1;
}


img {
    
    max-width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    animation: animate 5s ;
}


/*apparition de l'mage au bout de 5s*/

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    
}

.bluepill {

    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.75vw;
    
    top: 80%;
    left: 35%;
    
    transform: translate(-50%, -50%);
    z-index: 1;
  
    animation: blueanimate 0.5s infinite;
    
}



.bluepill a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    
    background-color: #3163ec;
    border-radius: 5px; 
    display: inline-block;
    animation: animate 5s;
    
}

.bluepill a:hover {
    background-color: #0f4cf5;
}



@keyframes blueanimate {
    0% {
        box-shadow: 0 0 20px #00f, 0 0 50px #00f, 0 0 70px #00f, 0 0 100px #00f;
    }

    40% {
        box-shadow: 0 0 20px #00f, 0 0 50px #00f, 0 0 70px #00f, 0 0 100px #00f;
    }

    60% {
        box-shadow: 0 0 20px #00f, 0 0 50px #00f, 0 0 70px #00f, 0 0 100px #00f;
    }

    100% {
        box-shadow: 0 0 20px #00f, 0 0 50px #00f, 0 0 70px #00f, 0 0 100px #00f;
    }
}

.redpill {

   
    
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    position: absolute;
    top: 80%;
    
    left: 66%;
    transform: translate(-50%, -50%);
    
    z-index: 1;
    
    
    
    animation: redanimate 0.5s infinite;
}
   

.redpill a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #f54e4e;
    border-radius: 5px; 
    display: inline-block;
    animation: animate 5s;
    
}

.redpill a:hover {
    background-color: #f32929;
}

@keyframes redanimate {
    0% {
        box-shadow: 0 0 20px #f00, 0 0 50px #f00, 0 0 70px #f00, 0 0 100px #f00;
    }

    40% {
        box-shadow: 0 0 20px #f00, 0 0 50px #f00, 0 0 70px #f00, 0 0 100px #f00;
    }

    60% {
        box-shadow: 0 0 20px #f00, 0 0 50px #f00, 0 0 70px #f00, 0 0 100px #f00;
    }

    100% {
        box-shadow: 0 0 20px #f00, 0 0 50px #f00, 0 0 70px #f00, 0 0 100px #f00;
    }
}



.escape {
    

   
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 17%;
    transform: translateX(-50%) ;
    white-space: nowrap;
    animation: escapeanimate 1s infinite;

}

.escape a {

    font-size: 2vw;

    color: rgb(255, 255, 255);
    text-decoration: none;
    
    

}

@keyframes escapeanimate {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .escape {
        font-size: 50px;
        padding: 23%;
}
    .img {
        max-width: 70%;
        

    }

    .escape a {
        
        font-size: 3vw;
    }


    .bluepill {
        top: 60%;
        left: 30%;
        font-size: 3.5vw;
    }

    .redpill {

        
        top: 60%;
        left: 70%;
        font-size: 3vw;
    }

    
}
